.hg__header {
  grid-area: header;
  background: rgb(255, 191, 15);
}
.hg__footer {
  grid-area: footer;
  background: rgb(36, 36, 36);
}
.hg__main {
  grid-area: main;
}
.hg__left {
  grid-area: navigation;
  background: rgb(180, 180, 180);
}
.hg__right {
  grid-area: ads;
  background: rgb(180, 180, 180);
}

.hg {
  display: grid;
  grid-template-areas:
    "header header header"
    "navigation  main ads "
    "footer footer footer";
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows:
    100px
    1fr
    30px;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .hg {
    grid-template-areas:
      "header"
      "navigation"
      "main"
      "ads"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows:
      100px
      50px
      1fr
      50px
      30px;
  }
}
