/* ======================================================================= */
/* HOLY GRAIL LAYOUT */
/* ======================================================================= */

.hg__header {
  grid-area: header;
  /* Styles */
  background: rgb(255, 191, 15);
  position: fixed;
  width: 100%;
}
.hg__footer {
  grid-area: footer;
  /* Styles */
  background: rgb(36, 36, 36);
}
.hg__main {
  grid-area: main;
  /* Styles */
}

.hg {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows:
    100px
    1fr
    50px;
  min-height: 100vh;
  /* Styles */
}

@media screen and (max-width: 600px) {
  .hg {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows:
      100px
      1fr
      50px;
    /* Styles */
  }
}
/* ======================================================================= */
/* MENU */
/* ======================================================================= */
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
img {
  width: 200px;
}

.menu ul {
  list-style: none;
  display: flex;
}
.menu ul li {
  border: 1px solid #000;
}
