/* @import url("CSS/media-query.css");
@import url("CSS/normalize.css"); 
@media screen and(min-width:30em) {
}
*/

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  margin: 0 auto;
  max-width: 960px;
  background: rgb(245, 245, 245);
  padding: 20px;
  list-style: none;
  border-radius: 0 0 12px 12px;
  /* FLEXBOX */
  display: flex;
  flex-flow: row wrap;
}

ul li {
  /* border: 1px solid rgb(0, 0, 0); */
  padding: 20px;
  flex: 1 0 3em;
}

/* 
STRUCTURAL PSEUDO-CLASS  » CSS Selector Level 3:

:root
:empty

FOR CHILDS:
ul:first-child
ul:last-child
ul:only-child
ul li:nth-child(1) // Cible le premier enfant à partir de début  |----->
ul li:nth-last-child(1) // Cible le premier enfant à partir de la fin  <-----|

ul li:nth-child(2n) = ul li:nth-child(even) // Pair (Cibles les éléments Pair)
ul li:nth-child(2n + 1) = ul li:nth-child(odd) // Impair (Cibles les éléments Impair)

FOR CHILDS TYPES:
ul:first-of-type
ul:last-of-type
ul:only-of-type
ul li:nth-of-type(1) // Cible le premier enfant de même type à partir de début |----->
ul li:nth-last-of-type(1) // Cible le dernier enfant de même type à partir de la fin <-----|

ul li:nth-of-type(2n) = ul li:nth-of-type(even)
ul li:nth-of-type(2n+1) = ul li:nth-of-type(odd)



*/

li:last-child {
  background: rgb(255, 59, 59);
}

a {
  color: black;
  text-underline-position: below;
  display: block;
  padding: 10px;
  border: 1px solid #000;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

li:nth-child(1) {
  background: rgba(235, 10, 10, 0.16);
}
a[href="www.google.com"] {
  background: rgb(235, 10, 10);
}

li:nth-child(2) {
  background: rgba(2, 57, 240, 0.16);
}
a[href="https://www.facebook.com"] {
  background: rgb(2, 57, 240);
}

li:nth-child(3) {
  background: rgba(0, 204, 255, 0.16);
}
a[href="https://www.twitter.com"]::before {
  content: "😀";
  margin-right: 10px;
}
a[href="https://www.twitter.com"] {
  background: rgb(0, 204, 255);
}

li:nth-child(4) {
  background: rgba(255, 187, 0, 0.16);
}
a[href="https://www.snapchat.com"] {
  background: rgb(255, 187, 0);
}
